.buttons
{
	.btn
	{
		width: 100%;
		margin: 5px;
		border-radius: 0;
		border: 1px solid white;
	}
	.btn:hover
	{
		background-color: white;
		color: black;
	}
}


.list-group-item
{
		text-align: center; background-color: rgba(white, 0.1); margin-top: 2%; margin-left: 2%; width: 92%;
		border-color: white; border-top-width:1px;
			.li-number{
				background-color:(rgba(white,0.8)); margin-left: 70%; font-size: 0.9rem; width: 30%; color: black;
			}
			.pro-img{
				height: 5.1rem;
				width:80%;
				border-style: solid;
				border-color: white;
			}
			.li-title{
				
			   font-size:1.2rem;
				.li-text{
					font-size:1rem;
				}
			}

		}  
		
		li:hover{
			background-color: white !important;
			transition: 0.5s;
			border: black 2px solid !important;
			.li-number{
				background-color:(rgba(black,0.8)); color: white;
			}
			.li-title{
				
				color: black;
			
				 
			 }	
			 .forhover{
				color: black;
			}
		}
 
	

.list-group-item:hover
{
	background-color: white;
	color: black;
	cursor: pointer;
	border: 1px solid black;
}

.user
{
	
	display: flex;
	align-items: center;
	margin: 20px;
	.avatar
	{
		width: 120px;
		height: 120px;
		border-radius: 50%;
	}
	.user-info
	{
		margin-left: 100px;
	}
}

.sort-names
{
	margin-top: 5%;
	color: white;
}