.outside{
    width: 25%;
    padding: 1%;
    height: 95%;

    .o{ 
        position: relative;
        background-color: rgba(white, 0.1);
        border-color: #ff6a00;
        border-width: 1%;
        border-style: solid;
        border-radius: 4%;
        color: white;
        //text-align: center;
        #firstrow{
            .profile-img{
                height: 50%;
                border-radius: 100%;
                border-width: 1%;
                border-style:solid;
                border-color: #ff6a00;
                }
        }
        #secondrow{
            position: relative;
            bottom: 8%;
            .sc{
                color:#ff6a00;
            }
            
        }
        #thirdrow{
            position: relative;
            bottom: 6%;
            table{
                border-collapse: separate !important;
                border-radius: 7%;
                color:white;
                overflow: hidden;
                thead{
                    background-color:  #2e2d2d ;
                    color:white;
                    th{
                        border: none; 
                    }
                }
                tbody{
                    td{
                        border-color: #ff6a00;
                    }
                    th{
                        border-color: #ff6a00;
                        font-weight:bold;
                        color:#ff6a00;
                    }
                    .even{
                        background-color: #2e2d2d ;
                    }
                    .odd{
                        background-color:#3b3b3a;
                    }
                    .odd:hover{
                        background-color: #959590;
                        color:#2e2d2d;
                    }
                    .even:hover{
                        background-color: #959590;
                        color:#2b2b2b;
                    }
                    

                }
                
            }
        }
    }
    .carousel-common{
         width:40%;
        height:auto;
        padding: 1%;
        border-radius: 4%;
        border-color: #ff6a00;
        border-width: 1%;
        border-style: solid;
        background-color: rgba(white, 0.1);
        .carousel{
            width: 90%;
            .pitem{
                border-radius: 4%;
            }
        }
    }
    #fourtrow{
         position: absolute;
        left:135%;
        top:40%;
    }
    #fifthrow{
        position: absolute;
       right:135%;
       top:40%;
   }
      
}

@media (max-width: 700px) {
    .outside{
        font-size: 12px;
        #secondrow{
            position: relative;
            bottom: 1rem;
            h4{
                 font-size: 12px;
            }
            h6{
                font-size: 10px;
            }   
       }
       .carousel-common{
        
        h4{
            font-size: 8px;
        }
        }
}
}
