.outside{
    width: 20%;
    display: inline-block;
    padding: 1%;
    height: 95%;
    .o{
        background-color: rgba(#ff6a00, 0.3);
        border-radius: 8%;
        color: white;
        #firstrow{
            .profile-img{
                
                height: 50%;
                border-radius: 100%;
                border-width: 1%;
                border-style: solid;
                border-color: rgba(224, 219, 219, 0.63);
                }
        }
        #secondrow{
            position: relative;
            bottom: 8%;
        }
        
        #thirdrow{
            position: relative;
            bottom: 6%;
            .table-responsive{
                border-radius: 8%;
                table{
                    border-radius: 8%;
                }
            }
        }
    }
}