<div class="container outside d-flex justify-content-center">
  <div class="container o align-items-center">
    <div id="firstrow" class="row" >
      <div class="d-flex justify-content-center align-items-center col">
        <img class="profile-img" src="https://media.licdn.com/dms/image/C4D03AQFTYhh_CEe6hw/profile-displayphoto-shrink_800_800/0/1552399239261?e=2147483647&v=beta&t=arynD8MSveLXEfrXQCfP0YN7Bih8iihlFZUQNBWXPZM">
      </div>
    </div>
  <div id="secondrow">
      <div class="row">
          <div class="d-flex col-sm-12 justify-content-center">
            <h4>Dilşad Kapucu</h4>
          </div>
      </div>
      <div class="row">
          <div class="d-flex justify-content-center align-items-center col-sm-6">
            <h6>Score : 2213</h6>
          </div>
          <div class="d-flex justify-content-center align-items-center col-sm-6 ">
            <h6>My Rank : 1</h6>
          </div>
      </div>
  </div>
  <div id="thirdrow">
    <div class="table-responsive">
      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
   
  </div>
  
</div>
