
.row
{
	.col-md-4
	{

		display: flex;
		justify-content: center;

		.card
		{
			display: flex;
			justify-content: center;
			align-items: center;
			transition: 1s;
			cursor: pointer;
			color: white;
			background-color: (rgba(0,0,0,0.5));
			border: 1px solid #ff6a00;
			width: 180px;
			height: 180px;
			margin: 0.5rem;
			.card-body
			{
				display: flex;
				flex-wrap: wrap;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 1.5em;
			}
			.card-img-top
			{
				max-width: 50px;
				filter: invert(100%);
			}
		}
	}

	.card:hover{
		background-color: #ff6a00 !important;
		transition: 1s;
		border: black 2px solid !important;
	}

	
}
