.card
{
	cursor: pointer;
	color: white;
	background-color: (rgba(0,0,0,0.5));
	border: 1px solid #ff6a00;
	max-width: 180px;
	max-height: 180px;
	margin: 0.5rem;
	.card-img-top
	{
		margin-top: 1rem;
		max-width: 50px;
		filter: invert(100%);
	}
}