<div class="card">
	<div class="card-body">
		<img class="profile-image img-fluid" src="{{profile.user.avatarUrl}}" alt="Profile Image">
		<h1 class="mt-1">{{profile.user.nickname}}</h1>
		<p class="text-muted">{{profile.user.email}}</p>
		<p class="mt-3">Level {{profile.user.level}}</p>
		<p class="text-muted">({{profile.user.xp}}/{{profile.user.xpToNextLevel}})</p>
		<div class="stats">
			<p class="stat" *ngFor="let stat of stats">
				<span class="stat-number">{{stat.value}}</span>
				<span class="stat-name">{{stat.label}}</span>
			</p>
		</div>
		<div>
			<button class="btn btn-dark mb-4">Edit Profile</button>
		</div>
	</div>
</div> 