.card {
	color: white;
	background-color: (rgba(0, 0, 0, 0.5));
	border: 1px solid #ff6a00;

	.card-body {
		text-align: center;
		.navs {
			display: inline-flex;
			justify-content: center;
			flex-wrap: wrap;
			width: 100%;
			.nav {
				transition: 0.3s;
				max-width: 120px;
				margin: 15px;
				display: flex;
				flex-direction: column;
				cursor: pointer;
				h2 {
					font-size: 1rem;
					font-weight: 600;
					margin-bottom: 0;
					text-align: center;
				}
				img {
					max-width: 110px;
					max-height: 110px;
					filter: invert(100%);
				}
			}
			.nav:hover
			{
				background-color: #ff6a00;
				border-radius: 5px;
				transition: 0.3s;
				filter:saturate(0.8);
			}
		}
	}
}