.row {
	width: 100%;
	margin-top: 5%;

	.col-md-12 {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;

		.img-fluid {
			max-width: 100%;
			height: auto;
		}

		.btn {
			font-size: 1.5rem;
			font-weight: 600;
			font-family: 'JetBrains Mono', monospace;
			border-radius: 0%;
			background-color: #ff6a00;
			padding: 1rem 4rem;
			width: max-content;
			margin-top: 2rem;
		}
	}
}

:root {
	font-size: calc(10px + 1vmin);
	--primary: hsl(260, 100%, 60%);
	--primary-2: hsl(220, 100%, 60%);
	--softGrey: #9a97a8;
	--softTint: rgba(0, 0, 0, 0.2);
	--bounce: 0.3s cubic-bezier(0.3, -0.1, 0.5, 1.4);
	--ease: 0.2s cubic-bezier(0.3, 0.1, 0.3, 1);
}



input[type="checkbox"] {
	position: absolute;
	opacity: 0.001;
}

form {
	--size: 3rem;
	--space: 1rem;
	padding-left: var(--space);
	position: relative;
	display: flex;
	overflow: hidden;
	border-radius: calc(var(--size) / 4);
	box-shadow: 0 1em 2em var(--softTint);


	input[type="number"] {
		height: 100%;
		width: var(--size);
		height: calc(var(--size) * 1.4);
		font-size: calc(var(--size) * 0.7);
		text-align: center;
		border: 0.12em solid var(--softTint);
		border-radius: calc(var(--size) * 0.2);
		outline: none;
		margin: var(--space);
		margin-left: 0;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			display: none;
		}
	}
}

.true
{
	transition: 0.5s;
	transform: scale(1.2);
}

.false
{
	transition: 0.5s;
	transform: scale(1);
}

.result
{
	transition: 1s;
	transform: scale(1);
	background-color: rgba(red, 0.8);
	animation: example .5s ease-in-out;
}

.no-result
{
	transition: 1s;
	transform: scale(1);
}

@keyframes example {
	0%{transform: translateX(-10px);}
	50%{transform: translateX(10px);}
	100%{transform: translateX(0px);}
}