<div class="container-fluid">
	<h1 class="page-header">Achievements</h1>
	<div class="page-icons">
		<img src="../../../../assets/icons/home.png" class="icon" (click)="routerService.routeToHome()"/>
		<img src="../../../../assets/icons/profile.png" class="icon" (click)="routerService.routeToProfile()"/>
	</div>
	<div class="page-main">
		<div class="achievements">
			<div class="achievement" *ngFor="let achievement of achievements" [ngClass]="achievement.isAchieved === false ? 'disabled' : ''">
				<img src="{{achievement.url}}" class="achievement-icon"/>
				<div class="achievement-name">{{achievement.name}}</div>
				<div class="achievement-description">{{achievement.description}}</div>
				<div class="progress">
					<div class="progress-bar" role="progressbar" [style.width]="((achievement.progress * 100) / achievement.progressMax) + '%'" aria-valuenow="achievement.progress" aria-valuemin="0" aria-valuemax="achievement.progressMax"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<app-achieve *ngIf="isAchieved"></app-achieve>