html { 
	background: url("assets/images/background.png") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	background: none !important;
	font-family: 'JetBrains Mono', monospace !important;
	font-weight: 600 !important;
}

.page-header{
	margin-top: 1%;
	text-align: center;
	color: white;
}

.page-icons
{
	display: flex;
	justify-content: center;
	.icon
	{
		width: 50px;
		height: 50px;
		filter: invert(100%);
		cursor: pointer;
		margin: 15px;
	}
}

::-webkit-scrollbar{
	display: none;
}

.container-fluid
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.page-main
{
	margin-top: 1%;
	border: 2px solid white;
	height: 83vh;
	width: 90vw !important;
	overflow-y: scroll;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	text-align: center;
}