html { 
	background: url("assets/images/background.png") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	background: none !important;
	font-family: 'JetBrains Mono', monospace !important;
	font-size: 1.2vh !important;
	font-weight: 600 !important;
}