<div class="container outside d-flex justify-content-center">
    <div class="container o align-items-center">
        <div class="row">
            <div class="col-sm-12 d-flex justify-content-sm-center">
                <div id="rank1" class="card down align-items-center" style="position: relative; top:12.3%;">
                    <div class="card-img-container" style="width: 60%; position: relative;">
                        <img class="card-img-top" style="height: 7rem;" src="https://picsum.photos/id/237/200/300" alt="Card image cap">
                    <div class="rank-number">2</div>
                    </div>
                    <div class="card-body col-sm-12">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">1847</p>
                    </div>
                </div>
                <div id="rank2" class="card align-items-center">
                    <div class="card-img-container" style="width: 80%; position: relative;">
                        <img class="card-img-top" src="https://picsum.photos/id/237/200/300" alt="Card image cap">
                    <div class="rank-number">1</div>
                    </div>
                    <div class="card-body col-sm-12">
                      <h5 class="card-title">Dilşad Kapucu</h5>
                      <p class="card-text">1847</p>
                    </div>
                </div>
                <div id="rank3" class="card down align-items-center" style="position: relative; top:12.3%;">
                    <div class="card-img-container" style="width: 60%; position: relative;">
                        <img class="card-img-top" style="height: 7rem;" src="https://picsum.photos/id/237/200/300" alt="Card image cap">
                    <div class="rank-number">3</div>
                    </div>
                    <div class="card-body col-sm-12">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">1847</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>