.outside{
    padding: 1%;
    height: auto;
    margin-top: 3%;
    .o{ 
       // background-color: rgba(white, 0.1);
        border-radius: 4%;
        .card{
            text-align: center; height: min-content; width: 12rem; background-color: rgba(white, 0.1); border-color: #ff6a00; border-radius: 4%; color: #fff;
            .card-img-top{
                height: 9rem;
                border-radius: 50%;
            } 
            .rank-number {
                position: absolute;
                left: 50%;
                text-align: center;
                width: 10%;
                transform: translate(-50%, -50%);
                background-color: #ff6a00;
                border-radius: 50%;
                font-size: small;

            }
        }
       
    }
}
