<div class="content">
	<div class="container">
		<h1 class="content-header">Friends</h1>
		<div class="button-group">
			<input type="text" class="form-control" placeholder="Enter a nickname" (input)="updateFriendName($event)">
			<button class="btn btn-primary" (click)="sendFriendRequest()">Add friend</button>
		</div>
		<ul class="list-group" *ngIf="chatOpen === false">
			<li class="list-group-item" *ngFor="let friend of friends">
				<img src="{{friend.avatarUrl}}" class="content-img mt-2">
				<span class="content-text">{{friend.username}}</span>
				<span class="content-text"><span class="status-circle" [ngClass]="getColor(friend.status)"></span>{{getStatus(friend.status)}}</span>
				<div class="content-buttons">
					<button class="btn btn-dark" *ngFor="let button of buttons" (click)="button.function(friend)">
						<img src="{{button.url}}" class="button-image">
					</button>
				</div>
			</li>
		</ul>
		<app-chatarea *ngIf="chatOpen === true" id="friends"></app-chatarea>
	</div>
</div>