.stats{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.player
{
	height: 15rem;
	width: 50%;
	display: flex;
	.avatar
	{
		height: 100%;
		width: 240px;
		object-fit: contain;
	}
	.player-info{
		height: 100%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		width: 100%;
		color: white;
		.player-name{
			font-size: 20px;
			font-weight: bold;
		}
		.player-rating{
			font-size: 12px;
		}
	}	
}
.player1{
	flex-direction: row;
	justify-content: start;
}
.player2 {
	flex-direction: row-reverse;
	justify-content: end;
}

