<div class="stats">
	<div class="player1 player">
		<img class="avatar" src="{{game.player1.avatarUrl}}">
		<div class="player-info">
			<p class="player-name">{{game.player1.nickname}}</p>
			<p class="player-rating">{{game.player1.rating}}</p>
		</div>
	</div>
	<div class="player2 player">
		<img class="avatar" src="{{game.player2.avatarUrl}}">
		<div class="player-info">
			<p class="player-name">{{game.player2.nickname}}</p>
			<p class="player-rating">{{game.player2.rating}}</p>
		</div>
	</div>
</div>
