.game-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
  }
  
  .player-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1rem;
	max-width: 300px;
  }
  
  .player-card__avatar {
	position: relative;
	width: 100%;
	padding-bottom: 100%;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center center;
  }
  
  }
  

  .player-card__info {
	text-align: center;
	margin-top: 1rem;
  }
  
  .player-card__info h3 {
	font-size: 1.5rem;
	margin: 0;
	color: white;
  }
  
  .player-card__info p {
	font-size: 1.2rem;
	margin: 0;
	color: white;
  }
  