.login
{
  margin-top: 60%;
  ion-col
  {
    ion-img
    {
      max-width: 420px;
      height: auto;
    }
    ion-button
    {
      font-size: 24px;
      font-weight: bold;
      height: 3.5rem;
      --background: #ff6a00;
    }
  }
}

.two-factor
{

  ion-col
  {
    text-align: center;
  }
}


